In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics
from sklearn.preprocessing import StandardScaler

In [5]:
df1 = pd.read_csv("Data/Sale_Prices_zip.csv")

In [6]:
df1.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,61639,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1218400.0,1024700.0,1031100.0,837800.0,965500.0,896100.0,873100.0,852000.0,869200.0,910000.0
1,84654,60657,Illinois,2,370100.0,391300.0,388700.0,382200.0,381300.0,378500.0,...,371300.0,398000.0,418200.0,424500.0,425700.0,411900.0,400500.0,390300.0,363800.0,380900.0
2,61637,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,1127200.0,1227900.0,1142000.0,1145000.0,1049600.0,1014900.0,1044600.0,1142200.0,1051200.0,1136300.0
3,91982,77494,Texas,4,232000.0,240900.0,243000.0,255500.0,253400.0,259000.0,...,331900.0,328300.0,320900.0,315100.0,317500.0,315200.0,319000.0,313000.0,316900.0,NaN
4,84616,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,...,510300.0,490900.0,497300.0,468100.0,489700.0,484000.0,537700.0,566600.0,570900.0,555300.0

In [46]:
df1["2017-03"]

0        984000.0
1        333100.0
2       1293400.0
3        323900.0
4        407600.0
          ...
6425     282200.0
6426     159100.0
6427          NaN
6428          NaN
6429     470500.0
Name: 2017-03, Length: 6430, dtype: float64

In [47]:
df1_clean = df1.drop(["RegionID", "StateName", "SizeRank"], axis=1)
df1_clean = df1_clean.drop(df1_clean.columns.to_series()["2008-03":"2016-12"], axis=1)
df1_clean = df1_clean.drop(["2020-01", "2020-02"], axis=1)
df1_clean.head()

,RegionName,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,10025,973600.0,946000.0,984000.0,953500.0,1020900.0,1039000.0,1128800.0,1060400.0,990300.0,...,1066800,1038000.0,1218400.0,1024700.0,1031100.0,837800.0,965500.0,896100.0,873100.0,852000.0
1,60657,328100.0,318000.0,333100.0,330400.0,331800.0,315700.0,303300.0,306400.0,329000.0,...,407000,379600.0,371300.0,398000.0,418200.0,424500.0,425700.0,411900.0,400500.0,390300.0
2,10023,1276800.0,1235500.0,1293400.0,1203400.0,1153300.0,1081800.0,1142300.0,1134500.0,1163100.0,...,1181600,1256500.0,1127200.0,1227900.0,1142000.0,1145000.0,1049600.0,1014900.0,1044600.0,1142200.0
3,77494,330700.0,325800.0,323900.0,324700.0,325900.0,325100.0,323600.0,327600.0,331500.0,...,326100,328300.0,331900.0,328300.0,320900.0,315100.0,317500.0,315200.0,319000.0,313000.0
4,60614,NaN,NaN,407600.0,391600.0,399400.0,390500.0,398100.0,407800.0,381200.0,...,526100,491200.0,510300.0,490900.0,497300.0,468100.0,489700.0,484000.0,537700.0,566600.0

In [48]:
list(df1_clean.columns)

['RegionName',
 '2017-01',
 '2017-02',
 '2017-03',
 '2017-04',
 '2017-05',
 '2017-06',
 '2017-07',
 '2017-08',
 '2017-09',
 '2017-10',
 '2017-11',
 '2017-12',
 '2018-01',
 '2018-02',
 '2018-03',
 '2018-04',
 '2018-05',
 '2018-06',
 '2018-07',
 '2018-08',
 '2018-09',
 '2018-10',
 '2018-11',
 '2018-12',
 '2019-01',
 '2019-02',
 '2019-03',
 '2019-04',
 '2019-05',
 '2019-06',
 '2019-07',
 '2019-08',
 '2019-09',
 '2019-10',
 '2019-11',
 '2019-12']

In [11]:
df2 = pd.read_csv("Data/median_price.csv", encoding="latin")

In [12]:
df2.head()

,RegionID,RegionName,City,County,State,Metro,SizeRank,2010-09,2010-10,2010-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,61639,10025,New York,New York County,NY,New York-Newark-Jersey City,1,4.231180,4.444444,4.347826,...,3.636364,4.148493,4.160000,3.973290,3.801314,4.291845,4.320833,4.388715,3.681120,5.276382
1,84654,60657,Chicago,Cook County,IL,Chicago-Naperville-Elgin,2,3.797539,3.572050,3.544460,...,2.571042,2.702703,2.841655,2.601626,2.553191,2.503133,2.588420,2.703433,2.718413,2.274647
2,61637,10023,New York,New York County,NY,New York-Newark-Jersey City,3,4.521739,4.782609,4.185263,...,4.040404,4.665072,5.181347,4.761905,4.109589,4.117037,4.449388,4.952381,4.904905,3.734940
3,91982,77494,Katy,Harris County,TX,Houston-The Woodlands-Sugar Land,4,2.791811,2.942989,2.577456,...,1.935061,2.010455,1.960784,1.904762,1.869159,1.772942,1.907980,1.612035,1.666667,1.517451
4,84616,60614,Chicago,Cook County,IL,Chicago-Naperville-Elgin,5,3.818121,3.357073,3.469345,...,2.601626,3.151515,2.835156,2.646240,2.703433,2.615385,2.912904,2.798163,2.439512,2.336622

In [50]:
df2_clean = df2.drop(["RegionID", "City", "County", "State", "Metro", "SizeRank"], axis=1)
df2_clean = df2_clean.drop(df2_clean.columns.to_series()["2010-09":"2016-12"], axis=1)
df2_clean.head()

,RegionName,2017-01,2017-02,2017-03,2017-04,2017-05,2017-06,2017-07,2017-08,2017-09,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,10025,5.555556,3.898512,3.249496,3.853565,3.574629,3.851852,3.611258,4.569776,4.130592,...,3.636364,4.148493,4.160000,3.973290,3.801314,4.291845,4.320833,4.388715,3.681120,5.276382
1,60657,2.785515,2.743021,2.872226,2.839230,3.104475,2.600780,2.943633,2.402402,2.772530,...,2.571042,2.702703,2.841655,2.601626,2.553191,2.503133,2.588420,2.703433,2.718413,2.274647
2,10023,5.901872,3.851710,4.166667,3.849673,3.828365,3.947368,3.906375,3.872395,4.246779,...,4.040404,4.665072,5.181347,4.761905,4.109589,4.117037,4.449388,4.952381,4.904905,3.734940
3,77494,2.000200,2.564431,2.222593,2.132196,2.266931,2.222222,2.176087,2.156863,2.271416,...,1.935061,2.010455,1.960784,1.904762,1.869159,1.772942,1.907980,1.612035,1.666667,1.517451
4,60614,3.090909,3.204272,3.151647,3.065296,3.003647,3.151515,2.779322,2.834283,2.665205,...,2.601626,3.151515,2.835156,2.646240,2.703433,2.615385,2.912904,2.798163,2.439512,2.336622

In [55]:
df_merged = df1_clean.merge(df2_clean, on ="RegionName", how="outer", suffixes=("_sales_price", "_price_cut"))
df_merged.head()

,RegionName,2017-01_sales_price,2017-02_sales_price,2017-03_sales_price,2017-04_sales_price,2017-05_sales_price,2017-06_sales_price,2017-07_sales_price,2017-08_sales_price,2017-09_sales_price,...,2019-03_price_cut,2019-04_price_cut,2019-05_price_cut,2019-06_price_cut,2019-07_price_cut,2019-08_price_cut,2019-09_price_cut,2019-10_price_cut,2019-11_price_cut,2019-12_price_cut
0,10025,973600.0,946000.0,984000.0,953500.0,1020900.0,1039000.0,1128800.0,1060400.0,990300.0,...,3.636364,4.148493,4.160000,3.973290,3.801314,4.291845,4.320833,4.388715,3.681120,5.276382
1,60657,328100.0,318000.0,333100.0,330400.0,331800.0,315700.0,303300.0,306400.0,329000.0,...,2.571042,2.702703,2.841655,2.601626,2.553191,2.503133,2.588420,2.703433,2.718413,2.274647
2,10023,1276800.0,1235500.0,1293400.0,1203400.0,1153300.0,1081800.0,1142300.0,1134500.0,1163100.0,...,4.040404,4.665072,5.181347,4.761905,4.109589,4.117037,4.449388,4.952381,4.904905,3.734940
3,77494,330700.0,325800.0,323900.0,324700.0,325900.0,325100.0,323600.0,327600.0,331500.0,...,1.935061,2.010455,1.960784,1.904762,1.869159,1.772942,1.907980,1.612035,1.666667,1.517451
4,60614,NaN,NaN,407600.0,391600.0,399400.0,390500.0,398100.0,407800.0,381200.0,...,2.601626,3.151515,2.835156,2.646240,2.703433,2.615385,2.912904,2.798163,2.439512,2.336622

In [68]:
df_merged

,RegionName,2017-01_sales_price,2017-02_sales_price,2017-03_sales_price,2017-04_sales_price,2017-05_sales_price,2017-06_sales_price,2017-07_sales_price,2017-08_sales_price,2017-09_sales_price,...,2019-03_price_cut,2019-04_price_cut,2019-05_price_cut,2019-06_price_cut,2019-07_price_cut,2019-08_price_cut,2019-09_price_cut,2019-10_price_cut,2019-11_price_cut,2019-12_price_cut
0,10025,9.736000e+05,9.460000e+05,9.840000e+05,9.535000e+05,1.020900e+06,1.039000e+06,1.128800e+06,1.060400e+06,9.903000e+05,...,3.636364,4.148493,4.160000,3.973290,3.801314,4.291845,4.320833,4.388715,3.681120,5.276382
1,60657,3.281000e+05,3.180000e+05,3.331000e+05,3.304000e+05,3.318000e+05,3.157000e+05,3.033000e+05,3.064000e+05,3.290000e+05,...,2.571042,2.702703,2.841655,2.601626,2.553191,2.503133,2.588420,2.703433,2.718413,2.274647
2,10023,1.276800e+06,1.235500e+06,1.293400e+06,1.203400e+06,1.153300e+06,1.081800e+06,1.142300e+06,1.134500e+06,1.163100e+06,...,4.040404,4.665072,5.181347,4.761905,4.109589,4.117037,4.449388,4.952381,4.904905,3.734940
3,77494,3.307000e+05,3.258000e+05,3.239000e+05,3.247000e+05,3.259000e+05,3.251000e+05,3.236000e+05,3.276000e+05,3.315000e+05,...,1.935061,2.010455,1.960784,1.904762,1.869159,1.772942,1.907980,1.612035,1.666667,1.517451
4,60614,2.749244e+05,2.759453e+05,4.076000e+05,3.916000e+05,3.994000e+05,3.905000e+05,3.981000e+05,4.078000e+05,3.812000e+05,...,2.601626,3.151515,2.835156,2.646240,2.703433,2.615385,2.912904,2.798163,2.439512,2.336622
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,96146,2.749244e+05,2.759453e+05,2.770190e+05,2.773784e+05,2.782573e+05,2.793334e+05,2.802910e+05,2.816148e+05,2.831966e+05,...,2.040816,4.015326,0.995025,4.550735,5.897594,4.316547,3.548387,3.076923,0.616122,1.734104
8593,33786,2.749244e+05,2.759453e+05,2.770190e+05,2.773784e+05,2.782573e+05,2.793334e+05,2.802910e+05,2.816148e+05,2.831966e+05,...,2.272650,2.331002,2.030767,2.836158,4.156741,3.673463,3.616804,1.858736,3.454231,2.464698
8594,30522,2.749244e+05,2.759453e+05,2.770190e+05,2.773784e+05,2.782573e+05,2.793334e+05,2.802910e+05,2.816148e+05,2.831966e+05,...,3.448753,3.156403,4.489496,3.503806,3.337716,5.245552,3.334445,2.725051,2.702710,1.834544
8595,92091,2.749244e+05,2.759453e+05,2.770190e+05,2.773784e+05,2.782573e+05,2.793334e+05,2.802910e+05,2.816148e+05,2.831966e+05,...,3.058877,2.637600,3.254967,4.032258,3.345601,4.767580,2.842974,3.225400,1.963098,3.512195
8596,41101,2.749244e+05,2.759453e+05,2.770190e+05,2.773784e+05,2.782573e+05,2.793334e+05,2.802910e+05,2.816148e+05,2.831966e+05,...,6.117362,7.143878,3.268846,5.165957,5.619468,5.408971,4.807692,3.717472,4.850834,3.614458

In [56]:
list(df_merged.columns)

['RegionName',
 '2017-01_sales_price',
 '2017-02_sales_price',
 '2017-03_sales_price',
 '2017-04_sales_price',
 '2017-05_sales_price',
 '2017-06_sales_price',
 '2017-07_sales_price',
 '2017-08_sales_price',
 '2017-09_sales_price',
 '2017-10_sales_price',
 '2017-11_sales_price',
 '2017-12_sales_price',
 '2018-01_sales_price',
 '2018-02_sales_price',
 '2018-03_sales_price',
 '2018-04_sales_price',
 '2018-05_sales_price',
 '2018-06_sales_price',
 '2018-07_sales_price',
 '2018-08_sales_price',
 '2018-09_sales_price',
 '2018-10_sales_price',
 '2018-11_sales_price',
 '2018-12_sales_price',
 '2019-01_sales_price',
 '2019-02_sales_price',
 '2019-03_sales_price',
 '2019-04_sales_price',
 '2019-05_sales_price',
 '2019-06_sales_price',
 '2019-07_sales_price',
 '2019-08_sales_price',
 '2019-09_sales_price',
 '2019-10_sales_price',
 '2019-11_sales_price',
 '2019-12_sales_price',
 '2017-01_price_cut',
 '2017-02_price_cut',
 '2017-03_price_cut',
 '2017-04_price_cut',
 '2017-05_price_cut',
 '2017-06_price_cut',
 '2017-07_price_cut',
 '2017-08_price_cut',
 '2017-09_price_cut',
 '2017-10_price_cut',
 '2017-11_price_cut',
 '2017-12_price_cut',
 '2018-01_price_cut',
 '2018-02_price_cut',
 '2018-03_price_cut',
 '2018-04_price_cut',
 '2018-05_price_cut',
 '2018-06_price_cut',
 '2018-07_price_cut',
 '2018-08_price_cut',
 '2018-09_price_cut',
 '2018-10_price_cut',
 '2018-11_price_cut',
 '2018-12_price_cut',
 '2019-01_price_cut',
 '2019-02_price_cut',
 '2019-03_price_cut',
 '2019-04_price_cut',
 '2019-05_price_cut',
 '2019-06_price_cut',
 '2019-07_price_cut',
 '2019-08_price_cut',
 '2019-09_price_cut',
 '2019-10_price_cut',
 '2019-11_price_cut',
 '2019-12_price_cut']

In [ ]:
df_merged.fillna((value = {'':
                           ,'sales':0
                           ,'expenses':0
                           })df_merged[])

In [57]:
df_merged.isna()

,RegionName,2017-01_sales_price,2017-02_sales_price,2017-03_sales_price,2017-04_sales_price,2017-05_sales_price,2017-06_sales_price,2017-07_sales_price,2017-08_sales_price,2017-09_sales_price,...,2019-03_price_cut,2019-04_price_cut,2019-05_price_cut,2019-06_price_cut,2019-07_price_cut,2019-08_price_cut,2019-09_price_cut,2019-10_price_cut,2019-11_price_cut,2019-12_price_cut
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
8593,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
8594,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
8595,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
8596,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [69]:
for columnName, column in df_merged.iteritems():
#     if column.isna().any() == True:
#         print(columnName)
    df_merged[columnName] = round(column.fillna(column.mean()),2)

In [70]:
df_merged

,RegionName,2017-01_sales_price,2017-02_sales_price,2017-03_sales_price,2017-04_sales_price,2017-05_sales_price,2017-06_sales_price,2017-07_sales_price,2017-08_sales_price,2017-09_sales_price,...,2019-03_price_cut,2019-04_price_cut,2019-05_price_cut,2019-06_price_cut,2019-07_price_cut,2019-08_price_cut,2019-09_price_cut,2019-10_price_cut,2019-11_price_cut,2019-12_price_cut
0,10025,973600.00,946000.00,984000.0,953500.00,1020900.00,1039000.00,1128800.00,1060400.00,990300.00,...,3.64,4.15,4.16,3.97,3.80,4.29,4.32,4.39,3.68,5.28
1,60657,328100.00,318000.00,333100.0,330400.00,331800.00,315700.00,303300.00,306400.00,329000.00,...,2.57,2.70,2.84,2.60,2.55,2.50,2.59,2.70,2.72,2.27
2,10023,1276800.00,1235500.00,1293400.0,1203400.00,1153300.00,1081800.00,1142300.00,1134500.00,1163100.00,...,4.04,4.67,5.18,4.76,4.11,4.12,4.45,4.95,4.90,3.73
3,77494,330700.00,325800.00,323900.0,324700.00,325900.00,325100.00,323600.00,327600.00,331500.00,...,1.94,2.01,1.96,1.90,1.87,1.77,1.91,1.61,1.67,1.52
4,60614,274924.43,275945.27,407600.0,391600.00,399400.00,390500.00,398100.00,407800.00,381200.00,...,2.60,3.15,2.84,2.65,2.70,2.62,2.91,2.80,2.44,2.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8592,96146,274924.43,275945.27,277019.0,277378.37,278257.34,279333.44,280290.95,281614.77,283196.55,...,2.04,4.02,1.00,4.55,5.90,4.32,3.55,3.08,0.62,1.73
8593,33786,274924.43,275945.27,277019.0,277378.37,278257.34,279333.44,280290.95,281614.77,283196.55,...,2.27,2.33,2.03,2.84,4.16,3.67,3.62,1.86,3.45,2.46
8594,30522,274924.43,275945.27,277019.0,277378.37,278257.34,279333.44,280290.95,281614.77,283196.55,...,3.45,3.16,4.49,3.50,3.34,5.25,3.33,2.73,2.70,1.83
8595,92091,274924.43,275945.27,277019.0,277378.37,278257.34,279333.44,280290.95,281614.77,283196.55,...,3.06,2.64,3.25,4.03,3.35,4.77,2.84,3.23,1.96,3.51
8596,41101,274924.43,275945.27,277019.0,277378.37,278257.34,279333.44,280290.95,281614.77,283196.55,...,6.12,7.14,3.27,5.17,5.62,5.41,4.81,3.72,4.85,3.61

In [ ]:
df_merged["target"] = [df_merged["2019-12"]]


# (2019-12-salesprice - 2017-01-salesprice/2017-01-sales-price) = 0.3473

#cut price cut dataset
#keep only columns 2017-01 and 2019-12

In [ ]:
model = LinearRegression()