In [1]:
# importing dependencies

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import sklearn.metrics
from sklearn.preprocessing import StandardScaler

In [2]:
# reading in csv of data

df1 = pd.read_csv("Data/Sale_Prices_zip.csv")
df1.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,2020-01,2020-02
0,61639,10025,New York,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1218400.0,1024700.0,1031100.0,837800.0,965500.0,896100.0,873100.0,852000.0,869200.0,910000.0
1,84654,60657,Illinois,2,370100.0,391300.0,388700.0,382200.0,381300.0,378500.0,...,371300.0,398000.0,418200.0,424500.0,425700.0,411900.0,400500.0,390300.0,363800.0,380900.0
2,61637,10023,New York,3,NaN,NaN,NaN,NaN,NaN,NaN,...,1127200.0,1227900.0,1142000.0,1145000.0,1049600.0,1014900.0,1044600.0,1142200.0,1051200.0,1136300.0
3,91982,77494,Texas,4,232000.0,240900.0,243000.0,255500.0,253400.0,259000.0,...,331900.0,328300.0,320900.0,315100.0,317500.0,315200.0,319000.0,313000.0,316900.0,NaN
4,84616,60614,Illinois,5,NaN,NaN,NaN,NaN,NaN,NaN,...,510300.0,490900.0,497300.0,468100.0,489700.0,484000.0,537700.0,566600.0,570900.0,555300.0

In [3]:
# dropping columns that we won't be using for our machine learning algorithm

sales_price_df = df1.drop(["RegionID", "StateName", "SizeRank"], axis=1)
sales_price_df = sales_price_df.rename(columns={'RegionName': 'zip_code'})
sales_price_df = sales_price_df.drop(["2020-01", "2020-02"], axis=1)
sales_price_df.head()

,zip_code,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,10025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1066800,1038000.0,1218400.0,1024700.0,1031100.0,837800.0,965500.0,896100.0,873100.0,852000.0
1,60657,370100.0,391300.0,388700.0,382200.0,381300.0,378500.0,364600.0,362300.0,357100.0,...,407000,379600.0,371300.0,398000.0,418200.0,424500.0,425700.0,411900.0,400500.0,390300.0
2,10023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1181600,1256500.0,1127200.0,1227900.0,1142000.0,1145000.0,1049600.0,1014900.0,1044600.0,1142200.0
3,77494,232000.0,240900.0,243000.0,255500.0,253400.0,259000.0,253200.0,238900.0,228000.0,...,326100,328300.0,331900.0,328300.0,320900.0,315100.0,317500.0,315200.0,319000.0,313000.0
4,60614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,526100,491200.0,510300.0,490900.0,497300.0,468100.0,489700.0,484000.0,537700.0,566600.0

In [4]:
# checking for NaN values

sales_price_df.isna()

,zip_code,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
6426,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
6427,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
6428,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False
6429,False,True,True,True,True,True,True,True,True,True,...,False,False,False,False,False,False,False,False,False,False

In [5]:
# iterating through the rows in the df and converting our NaN values 
# into the average value for each column

for columnName, column in sales_price_df.iteritems():
    sales_price_df[columnName] = round(column.fillna(column.mean()),2)

In [6]:
# checking if all columns have been converted

sales_price_df.isna()

,zip_code,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6426,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6427,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6428,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6429,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [7]:
# # sales_price_df.to_csv('Tableau_data/tableau_salesprice_raw.csv', index=False)

# # df_zip_dropped.loc[df_zip_dropped['2008-04'] == 0, '2008-04'] = 1 
# # df_zip_dropped["2008-04"]


# # df_zip_dropped["2008-04"]= df_zip_dropped["2008-04"][df_zip_dropped["2008-04"] != 'Puerto Rico']

# dropna_sales = sales_price_df
# dropna_sales = dropna_sales.replace({'2008-03': {0: 1}, '2008-04': {0: 1}, '2008-05': {0: 1}, '2008-06': {0: 1}, '2008-07': {0: 1},
#                                     '2008-08': {0: 1}, '2008-09': {0: 1}, '2008-10': {0: 1},'2008-11': {0: 1}, '2008-12': {0: 1},
#                                     '2009-01': {0: 1}, '2009-02': {0: 1}, '2009-03': {0: 1},
#                                     '2009-04': {0: 1}, '2009-05': {0: 1}, '2009-06': {0: 1}, '2009-07': {0: 1}, '2009-08': {0: 1}, 
#                                     '2009-09': {0: 1}, '2009-10': {0: 1}, '2009-11': {0: 1}, '2009-12': {0: 1}, '2010-01': {0: 1}
#                                     }) 
# dropna_sales

In [8]:
# creating our % change formula that will be utilized as our testing data
# (ending price - starting price/starting price) = % change

sales_price_df["percent_change"] = (sales_price_df["2019-12"] - sales_price_df["2008-03"])/sales_price_df["2008-03"]
sales_price_df.head()

# df_zip_dropped = sales_price_df.drop(columns=['zip_code'])

# for row in df_zip_dropped.itertuples(index=False):
#     if row == 0:
#         row = 0.01

# df_zip_dropped = df_zip_dropped.pct_change(axis='columns')

# df_zip_dropped["percent_change"] = (df_zip_dropped["2019-12"] - df_zip_dropped["2008-04"])/df_zip_dropped["2008-04"]

# sales_price_df["percent_change"] = df_zip_dropped['percent_change']
# sales_price_df.head()


# assessing our equity risk for investment

sales_price_df.loc[sales_price_df['percent_change'] > 0, 'equity_risk'] = True 
sales_price_df.loc[sales_price_df['percent_change'] <= 0, 'equity_risk'] = False

sales_price_df.head()

,zip_code,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,2008-09,2008-10,2008-11,...,2019-05,2019-06,2019-07,2019-08,2019-09,2019-10,2019-11,2019-12,percent_change,equity_risk
0,10025,269259.83,264101.03,257829.16,253550.8,250369.45,248516.75,246508.74,243987.72,240695.55,...,1218400.0,1024700.0,1031100.0,837800.0,965500.0,896100.0,873100.0,852000.0,2.164230,True
1,60657,370100.00,391300.00,388700.00,382200.0,381300.00,378500.00,364600.00,362300.00,357100.00,...,371300.0,398000.0,418200.0,424500.0,425700.0,411900.0,400500.0,390300.0,0.054580,True
2,10023,269259.83,264101.03,257829.16,253550.8,250369.45,248516.75,246508.74,243987.72,240695.55,...,1127200.0,1227900.0,1142000.0,1145000.0,1049600.0,1014900.0,1044600.0,1142200.0,3.241999,True
3,77494,232000.00,240900.00,243000.00,255500.0,253400.00,259000.00,253200.00,238900.00,228000.00,...,331900.0,328300.0,320900.0,315100.0,317500.0,315200.0,319000.0,313000.0,0.349138,True
4,60614,269259.83,264101.03,257829.16,253550.8,250369.45,248516.75,246508.74,243987.72,240695.55,...,510300.0,490900.0,497300.0,468100.0,489700.0,484000.0,537700.0,566600.0,1.104287,True

In [9]:
df2 = pd.read_csv("Data/Property_Crime_Rate_by_State.csv")
df2 = df2.rename(columns={"Year" : "state_name"})
df3 = df2.set_index('state_name')
df3.tail(50)

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
state_name,,,,,,,,,,,,,,,,,,,,,
1965,1392.7,2454.5,3355.5,1138.4,4037.2,2551.8,1764.8,2297.6,3497.0,3020.7,...,1216.6,1374.3,2384.6,2824.1,957.9,1971.6,2618.3,741.4,1542.8,1897.1
1966,1528.0,2635.3,3933.6,1219.9,4244.3,2840.7,1907.6,2491.8,4057.2,3378.5,...,1430.6,1658.6,2645.8,3216.4,1097.3,2098.0,2976.0,846.6,1851.8,2132.5
1967,1612.4,2723.9,4599.8,1408.9,4703.0,3117.2,2185.4,2710.7,5517.2,3713.3,...,1469.7,1899.2,2883.6,3127.8,1201.2,2391.0,3582.7,927.8,2161.8,2318.7
1968,1766.6,3145.5,4610.8,1741.8,5298.2,3599.6,2761.1,2924.3,6362.5,4045.4,...,1667.4,1954.2,3208.1,3465.8,1175.4,2608.7,3752.2,1056.5,2305.6,2461.6
1969,1876.2,3658.9,4885.4,1968.5,5637.4,4199.4,3078.3,3207.6,8270.9,4279.7,...,1754.5,1972.4,3639.4,3888.2,1518.0,2741.8,4393.5,1007.7,2407.5,2612.2
1970,2183.8,3523.8,5543.9,2198.8,5864.3,4961.4,3319.0,3935.6,8656.6,4819.0,...,1961.1,2120.7,3808.1,4063.9,1823.1,3363.4,4659.7,1254.8,2616.2,2859.1
1971,2187.0,3809.3,5540.9,2087.5,6171.5,5143.3,3452.5,4645.9,7345.7,5125.2,...,1963.1,2299.4,3724.1,4332.1,2007.6,3307.2,4649.4,1269.5,2921.8,2660.0
1972,2081.3,4108.0,5484.4,2107.7,5872.4,5188.2,3203.9,4137.7,6179.8,4822.3,...,2016.2,2327.3,3560.0,4023.2,2108.2,3040.4,4452.7,1307.4,2854.5,2884.1
1973,2232.2,4558.8,6224.0,2466.6,5739.1,5081.9,3455.7,4232.6,6339.8,5355.7,...,2048.9,2702.1,3740.1,4038.6,2427.6,3224.9,4818.5,1347.8,3061.5,3196.9
1974,2627.2,4786.6,7654.9,2984.4,6236.2,5736.0,4178.8,5506.5,5954.9,6709.7,...,2489.9,3272.4,4396.9,4735.6,2799.6,3831.1,5662.8,1632.0,3500.7,3505.8
1975,3079.6,5656.8,7793.7,3191.9,6549.2,6212.4,4688.6,6276.2,5929.2,7032.7,...,2533.7,3873.5,5016.5,4880.8,3386.0,4165.6,5750.1,1946.1,3823.9,3951.6
1976,3419.5,5680.6,7431.1,3102.8,6564.7,6365.4,4731.4,5942.8,5602.1,6368.4,...,2454.2,3865.1,5108.7,4757.2,3073.9,3895.4,5405.4,2168.0,3763.0,3756.9
1977,3298.2,5454.8,7253.0,3018.1,6302.7,6315.6,4559.8,5828.0,5793.9,6051.8,...,2422.4,3582.8,4989.4,4510.6,3814.5,3734.0,5352.8,2102.4,3681.9,3865.8
1978,3519.7,5604.2,7051.7,3117.6,6373.3,6334.5,4614.5,5913.2,6147.6,6303.9,...,2525.8,3307.8,5121.5,4707.1,3640.2,3786.6,5710.3,2102.4,3748.1,4214.2
1979,3830.5,5712.6,7264.4,3254.5,6657.7,6529.0,5365.4,5988.5,6993.4,6854.2,...,2800.7,3599.3,5417.3,5187.9,5115.0,4060.3,6094.9,2157.2,4221.9,4473.1
1980,4485.1,5209.7,7519.9,3475.9,6939.5,6804.9,5469.2,6301.8,8012.2,7418.4,...,3116.3,4039.8,5592.7,5577.3,4809.7,4312.8,6450.7,2367.9,4616.0,4593.8
1981,4428.3,5979.1,7038.1,3486.1,6727.5,6821.4,5389.2,6180.3,8402.8,7067.4,...,2908.3,3898.9,5517.9,5451.4,4932.8,4349.1,6294.8,2443.9,4579.0,4701.8
1982,4185.8,5588.8,6614.0,3546.9,6470.7,6575.7,5028.0,5825.1,8287.6,6568.4,...,2545.9,3992.5,5725.1,5048.3,4564.9,3946.7,5875.8,2336.4,4248.6,4499.8
1983,3685.0,5404.8,5897.4,3202.9,5904.9,6150.7,4602.8,5012.9,7358.4,5954.4,...,2427.6,3609.6,5395.0,4862.0,4000.2,3669.0,5706.0,2247.2,4064.8,3776.7
1984,3470.9,5493.6,5983.3,3046.1,5705.0,6013.3,4235.0,4571.1,6869.8,5953.3,...,2465.0,3444.2,5525.0,4522.0,3822.8,3488.0,5695.3,2167.7,3975.7,3440.7
1985,3484.6,5295.2,6513.7,3237.5,5752.7,6448.0,4302.8,4528.0,6374.4,6633.1,...,2504.2,3692.3,6018.7,5050.0,3740.4,3484.4,6103.4,2086.8,3809.8,3758.3
1986,3730.3,5675.5,6663.1,3529.9,5842.3,6508.3,4403.0,4404.6,6834.0,7191.9,...,2591.2,3994.6,6749.2,5211.7,3827.7,3553.8,6442.6,2152.2,3838.9,4064.1
1987,3892.2,4922.1,6576.0,3833.2,5588.4,5983.8,4576.7,4508.1,6841.3,7478.7,...,2558.3,4132.2,7091.3,5388.8,4134.7,3664.5,6577.6,2053.4,3919.5,3748.2
1988,4003.1,4398.8,6861.2,3796.9,5705.7,5705.7,4642.2,4347.4,7993.1,7819.9,...,2467.3,3936.7,7365.1,5335.5,4098.2,3877.5,6646.6,2107.4,3757.6,3653.1
1989,4037.0,4282.2,7460.2,4082.0,5785.8,5568.0,4758.2,4308.8,8151.5,7695.1,...,2549.7,3964.7,7268.4,5423.4,3955.7,3898.9,6122.1,2216.2,3942.2,3630.7
1990,4206.7,4628.2,7236.4,4334.7,5558.4,5527.8,4833.0,4705.1,8316.0,7566.5,...,2746.5,4380.6,7065.3,5376.0,4213.7,4090.0,5721.3,2333.7,4130.4,3909.3
1991,4521.4,5087.7,6734.9,4581.7,5682.7,5514.8,4824.4,5155.1,8314.7,7362.9,...,2897.0,4640.7,6979.0,5320.8,3838.4,4234.2,5781.5,2472.4,4188.9,4078.7
1992,4396.4,4909.0,6357.8,4185.2,5559.8,5379.9,4557.6,4227.3,8574.2,7151.0,...,2804.4,4389.6,6251.6,5368.0,3300.5,3923.6,5638.3,2398.2,4043.3,4255.6
1993,4098.4,4807.2,6716.7,4217.5,5379.1,4959.5,4194.2,4186.3,8839.3,7145.0,...,2749.8,4473.8,5677.0,4936.3,3858.2,3743.3,5437.7,2324.2,3789.7,3876.8
1994,4219.4,4941.7,7221.4,4203.6,5160.8,4808.8,4092.5,4245.2,8422.6,7103.2,...,2874.6,4371.9,5165.9,4996.4,3153.4,3689.9,5516.3,2312.6,3673.8,4017.2
1995,4215.7,4982.9,7500.1,4137.7,4865.1,4956.1,4097.3,4433.8,9512.1,6630.6,...,2853.1,4591.2,5020.5,5762.0,3315.4,3627.7,5785.5,2248.0,3604.6,4066.0
1996,4254.7,4722.7,6435.5,4174.9,4345.1,4714.0,3815.6,4226.6,9426.9,6446.3,...,2792.8,4675.4,5064.5,5654.0,2881.7,3627.0,5478.2,2273.3,3568.7,4004.4
1997,4325.3,4571.4,6571.3,4191.8,4067.1,4287.2,3593.4,4997.0,7814.9,6248.2,...,3047.6,4722.1,4878.0,5661.4,2708.5,3530.9,5485.6,2250.4,3407.1,3925.6
1998,4085.0,4123.1,5997.0,3793.2,3639.1,4109.5,3420.2,4600.8,7117.0,5947.4,...,2469.8,4319.4,4547.0,4768.1,3032.8,3334.7,5438.9,2298.6,3294.1,3560.1
1999,3922.3,3728.7,5345.0,3617.0,3177.8,3722.8,3043.7,4103.6,6439.3,5351.5,...,2476.9,3999.3,4471.4,4701.3,2704.7,3059.3,4878.0,2370.0,3050.3,3225.2
2000,4059.7,3682.5,5297.8,3670.0,3118.2,3648.6,2908.0,3793.6,5768.6,4882.7,...,2153.0,4183.0,4410.4,4220.3,2873.4,2746.4,4736.0,2286.3,2972.3,3031.5
2001,3876.8,3655.1,5537.5,3677.8,3278.0,3856.6,2774.7,3439.5,6139.9,4779.2,...,2172.3,4400.3,4570.0,3993.2,2664.7,2883.3,4792.5,2281.3,3087.8,3264.8
2002,4027.8,3759.7,5849.8,3738.4,3361.2,4000.3,2701.3,3346.0,6409.0,4656.4,...,2103.0,4307.6,4620.1,4210.9,2424.0,2851.1,4762.9,2277.1,3028.6,3306.5
2003,4046.4,3761.6,5634.0,3632.4,3426.4,3951.6,2666.5,3415.3,5863.5,4457.3,...,2003.4,4389.3,4599.9,4255.1,2228.7,2721.5,4755.0,2339.0,2880.4,3315.6
2004,4029.3,3370.9,5073.3,4033.1,3423.9,3918.5,2684.9,3283.6,4852.8,4182.5,...,1931.6,4326.8,4497.7,4038.6,2343.6,2678.2,4846.7,2555.8,2665.7,3338.5
2005,3900.0,3615.0,4827.0,4068.0,3321.0,4041.0,2579.0,3118.0,4490.0,4013.0,...,1767.0,4300.0,4319.0,3837.0,2370.0,2649.0,4890.0,2633.0,2669.0,3158.0
2006,3941.0,3578.1,4774.1,3985.4,3181.7,3438.4,2586.1,3476.4,4653.9,3986.2,...,1766.4,4137.6,4083.1,3512.5,2391.4,2489.3,4510.1,2636.3,2821.0,2986.6
2007,3977.7,3379.2,4532.6,3955.5,3043.5,2999.2,2470.6,3378.5,4916.3,4088.8,...,1736.8,4098.6,4122.3,3518.7,2366.5,2486.5,4047.0,2517.6,2843.9,2879.1
2008,4084.5,2927.3,4102.2,3865.0,2941.0,2821.0,2490.8,3594.7,5104.6,4140.5,...,1724.3,4040.1,3986.8,3375.7,2559.8,2532.2,3806.3,2533.6,2762.2,2725.0
2009,3780.4,2940.4,3589.0,3775.0,2731.0,2670.7,2348.4,3353.8,4751.9,3840.8,...,1769.9,3766.6,4015.3,3295.0,2414.1,2461.4,3679.6,2539.6,2611.8,2616.9
2010,3528.0,2836.8,3536.5,3553.5,2629.9,2674.5,2188.8,3453.9,4761.4,3551.4,...,1859.9,3662.7,3766.8,3182.0,2262.3,2335.5,3699.1,2227.2,2508.6,2456.6
2011,3605.4,2637.8,3554.7,3757.9,2584.2,2595.3,2152.5,3431.5,4790.5,3517.4,...,1857.6,3607.9,3483.2,2987.7,2407.6,2256.8,3579.1,2103.0,2450.4,2269.8
2012,3505.5,2743.6,3536.8,3708.3,2761.8,2685.3,2148.5,3348.4,4855.7,3276.2,...,2077.3,3376.1,3363.1,3022.3,2500.7,2179.6,3689.1,2396.8,2459.2,2293.0
2013,3347.9,2877.0,3365.4,3598.7,2651.2,2655.0,1980.2,3134.4,4790.7,3097.8,...,1924.8,3196.5,3253.2,3043.1,2214.5,2074.4,3715.9,2154.1,2188.7,2196.2
2014,3177.6,2760.0,3197.5,3338.0,2441.1,2530.1,1920.4,2982.0,5182.5,3415.5,...,1863.9,3060.6,3019.4,2878.5,1524.4,1930.3,3706.1,2034.7,2088.3,1964.7

In [10]:
property_crime = df3.T
property_crime.head()

state_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Alabama,1035.4,985.5,1067.0,1150.9,1358.7,1392.7,1528.0,1612.4,1766.6,1876.2,...,3900.0,3941.0,3977.7,4084.5,3780.4,3528.0,3605.4,3505.5,3347.9,3177.6
Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,3145.5,3658.9,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0
Arizona,2806.0,2969.4,3028.1,3200.4,3432.3,3355.5,3933.6,4599.8,4610.8,4885.4,...,4827.0,4774.1,4532.6,4102.2,3589.0,3536.5,3554.7,3536.8,3365.4,3197.5
Arkansas,926.4,936.9,998.3,1073.7,1222.6,1138.4,1219.9,1408.9,1741.8,1968.5,...,4068.0,3985.4,3955.5,3865.0,3775.0,3553.5,3757.9,3708.3,3598.7,3338.0
California,3235.4,3177.5,3326.2,3545.8,3874.3,4037.2,4244.3,4703.0,5298.2,5637.4,...,3321.0,3181.7,3043.5,2941.0,2731.0,2629.9,2584.2,2761.8,2651.2,2441.1

In [11]:
property_crime.isna()

state_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Alabama,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Alaska,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Arizona,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Arkansas,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
California,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Colorado,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Connecticut,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Delaware,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
District of Columbia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Florida,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Georgia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Hawaii,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Idaho,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Illinois,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Indiana,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Iowa,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Kansas,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Kentucky,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Louisiana,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Maine,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Maryland,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Massachusetts,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Michigan,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Minnesota,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Mississippi,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Missouri,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Montana,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Nebraska,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Nevada,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New Hampshire,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New Jersey,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New Mexico,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New York,True,True,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
North Carolina,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
North Dakota,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ohio,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Oklahoma,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Oregon,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Pennsylvania,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Rhode Island,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
South Carolina,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
South Dakota,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Tennessee,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Texas,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Utah,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Vermont,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Virginia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Washington,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
West Virginia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Wisconsin,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Wyoming,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [12]:
for columnName, column in property_crime.iteritems():
    property_crime[columnName] = round(column.fillna(column.mean()),2)

property_crime = property_crime.reset_index()
property_crime = property_crime.rename(columns={'state_name': 'index','index':'state_name'})

property_crime.head()

state_name,state_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Alabama,1035.4,985.5,1067.0,1150.9,1358.7,1392.7,1528.0,1612.4,1766.6,...,3900.0,3941.0,3977.7,4084.5,3780.4,3528.0,3605.4,3505.5,3347.9,3177.6
1,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,3145.5,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0
2,Arizona,2806.0,2969.4,3028.1,3200.4,3432.3,3355.5,3933.6,4599.8,4610.8,...,4827.0,4774.1,4532.6,4102.2,3589.0,3536.5,3554.7,3536.8,3365.4,3197.5
3,Arkansas,926.4,936.9,998.3,1073.7,1222.6,1138.4,1219.9,1408.9,1741.8,...,4068.0,3985.4,3955.5,3865.0,3775.0,3553.5,3757.9,3708.3,3598.7,3338.0
4,California,3235.4,3177.5,3326.2,3545.8,3874.3,4037.2,4244.3,4703.0,5298.2,...,3321.0,3181.7,3043.5,2941.0,2731.0,2629.9,2584.2,2761.8,2651.2,2441.1

In [13]:
df6 = pd.read_csv("Data/Violent_Crime_Rate_by_State.csv")
df6 = df6.rename(columns={"Year" : "state_name"})
df7 = df6.set_index('state_name')
df7.tail()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,South Dakota,Tennessee,Texas,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
state_name,,,,,,,,,,,,,,,,,,,,,
2010,383.7,635.3,413.6,503.5,439.6,323.7,282.0,623.3,1326.8,541.3,...,268.9,612.0,448.4,213.5,131.0,214.2,313.5,301.2,248.9,197.9
2011,419.8,610.1,414.2,482.3,411.2,314.4,275.7,566.4,1200.8,514.6,...,255.6,607.8,408.6,197.1,147.6,197.6,295.3,296.3,249.9,219.4
2012,450.3,604.1,428.6,469.6,423.5,307.4,283.5,550.5,1241.8,487.0,...,323.8,638.5,408.6,208.0,142.3,191.5,298.1,320.1,283.9,201.3
2013,431.0,638.7,415.6,463.2,402.6,305.4,262.2,500.7,1296.4,469.3,...,323.2,585.8,410.3,228.9,123.6,197.8,290.0,305.2,280.7,207.8
2014,427.4,635.8,399.9,480.1,396.1,309.1,236.9,489.1,1244.4,540.5,...,326.5,608.4,405.9,215.6,99.3,196.2,285.2,302.0,290.3,195.5

In [14]:
violent_crime = df7.T
violent_crime.head()

state_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Alabama,186.6,168.5,157.3,182.7,213.1,199.8,230.3,238.6,232.4,250.4,...,433.0,425.2,448.9,452.8,450.1,383.7,419.8,450.3,431.0,427.4
Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,175.5,221.3,...,632.0,688.0,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8
Arizona,207.7,164.5,173.0,194.2,213.0,192.3,202.2,238.2,263.6,339.2,...,512.0,542.6,518.0,485.6,426.5,413.6,414.2,428.6,415.6,399.9
Arkansas,107.7,100.7,91.4,107.2,136.6,135.8,162.9,219.5,216.7,220.1,...,528.0,552.8,537.1,513.0,515.8,503.5,482.3,469.6,463.2,480.1
California,239.0,232.7,234.8,241.2,265.6,282.2,305.1,352.1,422.9,462.3,...,526.0,533.5,524.1,504.2,473.3,439.6,411.2,423.5,402.6,396.1

In [15]:
violent_crime.isna()

state_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
Alabama,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Alaska,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Arizona,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Arkansas,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
California,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Colorado,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Connecticut,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Delaware,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
District of Columbia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Florida,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Georgia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Hawaii,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Idaho,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Illinois,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Indiana,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Iowa,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Kansas,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Kentucky,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Louisiana,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Maine,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Maryland,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Massachusetts,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Michigan,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Minnesota,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Mississippi,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Missouri,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Montana,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Nebraska,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Nevada,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New Hampshire,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New Jersey,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New Mexico,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
New York,True,True,True,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
North Carolina,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
North Dakota,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Ohio,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Oklahoma,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Oregon,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Pennsylvania,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Rhode Island,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
South Carolina,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
South Dakota,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Tennessee,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Texas,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Utah,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Vermont,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Virginia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Washington,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
West Virginia,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Wisconsin,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
Wyoming,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [16]:
for columnName, column in violent_crime.iteritems():
    violent_crime[columnName] = round(column.fillna(column.mean()),2)

violent_crime = violent_crime.reset_index()
violent_crime = violent_crime.rename(columns={'state_name': 'index','index':'state_name'})

violent_crime.head()

state_name,state_name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Alabama,186.6,168.5,157.3,182.7,213.1,199.8,230.3,238.6,232.4,...,433.0,425.2,448.9,452.8,450.1,383.7,419.8,450.3,431.0,427.4
1,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,175.5,...,632.0,688.0,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8
2,Arizona,207.7,164.5,173.0,194.2,213.0,192.3,202.2,238.2,263.6,...,512.0,542.6,518.0,485.6,426.5,413.6,414.2,428.6,415.6,399.9
3,Arkansas,107.7,100.7,91.4,107.2,136.6,135.8,162.9,219.5,216.7,...,528.0,552.8,537.1,513.0,515.8,503.5,482.3,469.6,463.2,480.1
4,California,239.0,232.7,234.8,241.2,265.6,282.2,305.1,352.1,422.9,...,526.0,533.5,524.1,504.2,473.3,439.6,411.2,423.5,402.6,396.1

In [17]:
# property_crime.head()

df4 = pd.read_csv('Data/uszips.csv')
df4.head()

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico
3,606,18.16724,-66.93828,Maricao,PR,Puerto Rico,True,NaN,6437,60.4,72093,Maricao,"{'72093':94.88,'72121':1.35,'72153':3.78}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29032,-67.12243,Anasco,PR,Puerto Rico,True,NaN,27073,312.0,72011,AÃ±asco,"{'72003':0.55,'72011':99.45}",AÃ±asco|Aguada,72011|72003,False,False,America/Puerto_Rico

In [18]:
df5 = df4.drop(columns=['lat', 'lng', 'city', 'state_id', 'zcta', 'parent_zcta', 
                           'population', 'density', 'county_fips', 'county_name', 'county_weights', 'county_names_all', 
                          'county_fips_all', 'imprecise', 'military', 'timezone'])
us_zip = df5[df5.state_name != 'Puerto Rico']
us_zip

         zip     state_name
131     1001  Massachusetts
132     1002  Massachusetts
133     1003  Massachusetts
134     1005  Massachusetts
135     1007  Massachusetts
...      ...            ...
33094  99923         Alaska
33095  99925         Alaska
33096  99926         Alaska
33097  99927         Alaska
33098  99929         Alaska

[32968 rows x 2 columns]

In [19]:
zip_prop_crime = pd.merge(us_zip, property_crime, on='state_name')
zip_prop_crime

,zip,state_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,1001,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2358.0,2391.5,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1
1,1002,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2358.0,2391.5,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1
2,1003,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2358.0,2391.5,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1
3,1005,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2358.0,2391.5,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1
4,1007,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2358.0,2391.5,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32963,99923,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0
32964,99925,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0
32965,99926,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0
32966,99927,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0
32967,99929,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3615.0,3578.1,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0

In [20]:
zip_viol_crime = pd.merge(us_zip, violent_crime, on='state_name')
zip_viol_crime.head()

,zip,state_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,1001,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,461.0,500.5,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4
1,1002,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,461.0,500.5,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4
2,1003,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,461.0,500.5,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4
3,1005,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,461.0,500.5,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4
4,1007,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,461.0,500.5,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4

In [21]:
zip_prop_crime[2014]

0        1857.1
1        1857.1
2        1857.1
3        1857.1
4        1857.1
          ...
32963    2760.0
32964    2760.0
32965    2760.0
32966    2760.0
32967    2760.0
Name: 2014, Length: 32968, dtype: float64

In [22]:
# future algorithm consider year to year change over average change model
df_dropped = zip_prop_crime.drop(columns=['zip', 'state_name'])
df_dropped = df_dropped.pct_change(axis='columns')

df_dropped["percent_change"] = (df_dropped[2014] - df_dropped[1961])/df_dropped[1961]

zip_prop_crime["percent_change_prop"] = df_dropped['percent_change']
zip_prop_crime.head()

zip_prop_crime.loc[zip_prop_crime['percent_change_prop'] <= 0, 'prop_risk'] = True 
zip_prop_crime.loc[zip_prop_crime['percent_change_prop'] >= 0, 'prop_risk'] = False

zip_prop_crime.tail()

,zip,state_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,percent_change_prop,prop_risk
32963,99923,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32964,99925,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32965,99926,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32966,99927,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32967,99929,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False

In [23]:
df2_dropped = zip_viol_crime.drop(columns=['zip', 'state_name'])
df2_dropped = df2_dropped.pct_change(axis='columns')

df2_dropped["percent_change"] = (df2_dropped[2014] - df2_dropped[1961])/df2_dropped[1961]

zip_viol_crime["percent_change_viol"] = df2_dropped['percent_change']
zip_viol_crime.head()

zip_viol_crime.loc[zip_viol_crime['percent_change_viol'] <= 0, 'viol_risk'] = True 
zip_viol_crime.loc[zip_viol_crime['percent_change_viol'] >= 0, 'viol_risk'] = False

zip_viol_crime.tail()

,zip,state_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,percent_change_viol,viol_risk
32963,99923,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32964,99925,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32965,99926,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32966,99927,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32967,99929,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True

In [24]:
zip_viol_crime.zip = zip_viol_crime.zip.astype('str')

zip_viol_crime['zip'] = zip_viol_crime['zip'].apply(lambda x: x.zfill(5))
zip_viol_crime

,zip,state_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,percent_change_viol,viol_risk
0,01001,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4,-1.418879,True
1,01002,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4,-1.418879,True
2,01003,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4,-1.418879,True
3,01005,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4,-1.418879,True
4,01007,Massachusetts,48.8,53.1,62.1,66.2,85.4,98.5,115.2,127.6,...,441.7,463.8,462.6,468.9,427.3,407.0,406.4,391.4,-1.418879,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32963,99923,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32964,99925,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32965,99926,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32966,99927,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True
32967,99929,Alaska,104.3,88.9,91.5,109.7,150.0,149.0,150.4,160.7,...,661.3,652.1,633.4,635.3,610.1,604.1,638.7,635.8,-0.969249,True

In [25]:
zip_prop_crime.zip = zip_prop_crime.zip.astype('str')

zip_prop_crime['zip'] = zip_prop_crime['zip'].apply(lambda x: x.zfill(5))
zip_prop_crime

,zip,state_name,1960,1961,1962,1963,1964,1965,1966,1967,...,2007,2008,2009,2010,2011,2012,2013,2014,percent_change_prop,prop_risk
0,01001,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1,-1.451769,True
1,01002,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1,-1.451769,True
2,01003,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1,-1.451769,True
3,01005,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1,-1.451769,True
4,01007,Massachusetts,1170.3,1409.7,1567.5,1659.7,1902.2,2022.9,2160.1,2354.5,...,2399.2,2399.5,2323.1,2356.8,2252.6,2156.8,2046.2,1857.1,-1.451769,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32963,99923,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32964,99925,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32965,99926,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32966,99927,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False
32967,99929,Alaska,1544.9,1540.6,1564.6,1952.8,2016.0,2454.5,2635.3,2723.9,...,3379.2,2927.3,2940.4,2836.8,2637.8,2743.6,2877.0,2760.0,13.610932,False

In [26]:
transport_data = pd.read_csv('Data/transportationscoresus.csv')
transport_data

                       city    state  transit_score      zip
0                    Abanda  Alabama            0.0      0.0
1                 Abbeville  Alabama            0.0  36310.0
2                Adamsville  Alabama            0.0  35005.0
3                   Addison  Alabama            0.0  35540.0
4                     Akron  Alabama            0.0  35441.0
...                     ...      ...            ...      ...
42933                 Clear   Alaska            0.0  99704.0
42934         Bettles Field   Alaska            0.0  99726.0
42935  Denali National Park   Alaska            0.0  99755.0
42936               Douglas   Alaska            0.0  99824.0
42937          Meyers Chuck   Alaska            0.0  99903.0

[42938 rows x 4 columns]

In [27]:
transport_data = transport_data.rename(columns={"state" : "state_name"})
transport_data = transport_data.drop(columns=["city"])

transportation_df = pd.merge(us_zip, transport_data, on='state_name')
transportation_df.head()

   zip_x     state_name  transit_score   zip_y
0   1001  Massachusetts            2.4  2351.0
1   1001  Massachusetts            0.9     0.0
2   1001  Massachusetts            1.9  1220.0
3   1001  Massachusetts            2.4     0.0
4   1001  Massachusetts            1.4     0.0

In [28]:
transportation_df = transportation_df.drop(columns=["zip_y"])
transportation_df = transportation_df.rename(columns={"zip_x" : "zip"})

transportation_df.zip = transportation_df.zip.astype('str')

transportation_df['zip'] = transportation_df['zip'].apply(lambda x: x.zfill(5))

transportation_df.head()

     zip     state_name  transit_score
0  01001  Massachusetts            2.4
1  01001  Massachusetts            0.9
2  01001  Massachusetts            1.9
3  01001  Massachusetts            2.4
4  01001  Massachusetts            1.4

In [29]:
groupby_df = transportation_df.groupby('zip').mean().reset_index()

In [30]:
groupby_df

         zip  transit_score
0      01001       1.829801
1      01002       1.829801
2      01003       1.829801
3      01005       1.829801
4      01007       1.829801
...      ...            ...
32963  99923       0.268782
32964  99925       0.268782
32965  99926       0.268782
32966  99927       0.268782
32967  99929       0.268782

[32968 rows x 2 columns]

In [31]:
school_dist = pd.read_csv('Data/schooldist_rankings_clean.csv')
school_dist.head()

   Unnamed: 0                 school_district  Zip_code   Rank          State
0         144  AMHERST-PELHAM SCHOOL DISTRICT      1002  479.0  Massachusetts
1         148  AMHERST-PELHAM SCHOOL DISTRICT      1003  479.0  Massachusetts
2         155       TANTASQUA SCHOOL DISTRICT      1010  329.0  Massachusetts
3         160     SPRINGFIELD SCHOOL DISTRICT      1013  285.0   Pennsylvania
4         161     SPRINGFIELD SCHOOL DISTRICT      1013  471.0   Pennsylvania

In [32]:
school_dist = school_dist.drop(columns=["Unnamed: 0", "school_district"])
school_dist = school_dist.rename(columns={"Zip_code" : "zip", "State" : "state_name"})


school_dist.zip = school_dist.zip.astype('str')

school_dist['zip'] = school_dist['zip'].apply(lambda x: x.zfill(5))

school_dist.head()

     zip   Rank     state_name
0  01002  479.0  Massachusetts
1  01003  479.0  Massachusetts
2  01010  329.0  Massachusetts
3  01013  285.0   Pennsylvania
4  01013  471.0   Pennsylvania

In [33]:
new_sales_price = sales_price_df.drop(sales_price_df.columns.to_series()["2008-03":"2019-12"], axis=1)
new_sales_price

      zip_code  percent_change  equity_risk
0        10025        2.164230         True
1        60657        0.054580         True
2        10023        3.241999         True
3        77494        0.349138         True
4        60614        1.104287         True
...        ...             ...          ...
6425     80482        0.926763         True
6426     92386       -0.250538        False
6427     28774        0.070713         True
6428     22967       -0.055559        False
6429     27927        1.097974         True

[6430 rows x 3 columns]

In [34]:
new_sales_price = new_sales_price.rename(columns={"zip_code" : "zip"})
new_sales_price

        zip  percent_change  equity_risk
0     10025        2.164230         True
1     60657        0.054580         True
2     10023        3.241999         True
3     77494        0.349138         True
4     60614        1.104287         True
...     ...             ...          ...
6425  80482        0.926763         True
6426  92386       -0.250538        False
6427  28774        0.070713         True
6428  22967       -0.055559        False
6429  27927        1.097974         True

[6430 rows x 3 columns]

In [35]:
med_sales = pd.merge(us_zip, new_sales_price, on='zip')
med_sales

        zip     state_name  percent_change  equity_risk
0      1001  Massachusetts       -0.251652        False
1      1028  Massachusetts        0.026889         True
2      1040  Massachusetts       -0.207828        False
3      1056  Massachusetts       -0.079328        False
4      1075  Massachusetts       -0.127608        False
...     ...            ...             ...          ...
6414  99353     Washington        0.386393         True
6415  99354     Washington        0.970169         True
6416  99362     Washington        0.959060         True
6417  99403     Washington       -0.275421        False
6418  99502         Alaska        0.256712         True

[6419 rows x 4 columns]

In [36]:
med_sales.zip = med_sales.zip.astype('str')

med_sales['zip'] = med_sales['zip'].apply(lambda x: x.zfill(5))

med_sales.head()

     zip     state_name  percent_change  equity_risk
0  01001  Massachusetts       -0.251652        False
1  01028  Massachusetts        0.026889         True
2  01040  Massachusetts       -0.207828        False
3  01056  Massachusetts       -0.079328        False
4  01075  Massachusetts       -0.127608        False

In [60]:
# Y = b0 + b1x1 + b2x2 + b3x3 + b4x4

df_model = pd.DataFrame({'zipcode': [], 'median_sales' : [], 'crime_rate' : [], 'education' : [], 'transportation' : []})
df_model['zipcode'] = zip_viol_crime["zip"]
df_model['median_sales'] = med_sales["percent_change"]
df_model['viol_rate'] = zip_viol_crime['percent_change_viol']
df_model['prop_rate'] = zip_prop_crime['percent_change_prop']
df_model['education'] = school_dist['Rank']
df_model['transportation'] = groupby_df['transit_score']
df_model

,zipcode,median_sales,crime_rate,education,transportation,viol_rate,prop_rate
0,01001,-0,nan,479,2,-1,-1
1,01002,0,nan,479,2,-1,-1
2,01003,-0,nan,329,2,-1,-1
3,01005,-0,nan,285,2,-1,-1
4,01007,-0,nan,471,2,-1,-1
...,...,...,...,...,...,...,...
32963,99923,nan,nan,nan,0,-1,14
32964,99925,nan,nan,nan,0,-1,14
32965,99926,nan,nan,nan,0,-1,14
32966,99927,nan,nan,nan,0,-1,14
32967,99929,nan,nan,nan,0,-1,14

In [61]:
df_model["median_sales"] = df_model["median_sales"].fillna(df_model["median_sales"].median())
df_model["viol_rate"] = df_model["viol_rate"].fillna(df_model["viol_rate"].median())
df_model["prop_rate"] = df_model["prop_rate"].fillna(df_model["prop_rate"].median())
df_model["education"] = df_model["education"].fillna(0)
df_model["transportation"] = df_model["transportation"].fillna(df_model["transportation"].mean())

In [62]:
df_model.head()

,zipcode,median_sales,crime_rate,education,transportation,viol_rate,prop_rate
0,01001,-0,nan,479,2,-1,-1
1,01002,0,nan,479,2,-1,-1
2,01003,-0,nan,329,2,-1,-1
3,01005,-0,nan,285,2,-1,-1
4,01007,-0,nan,471,2,-1,-1

In [63]:
# df_model["education"] = df_model["education"]/500

In [64]:
# df_model.head()

In [65]:
df_model.round(decimals=3)

,zipcode,median_sales,crime_rate,education,transportation,viol_rate,prop_rate
0,01001,-0,nan,479,2,-1,-1
1,01002,0,nan,479,2,-1,-1
2,01003,-0,nan,329,2,-1,-1
3,01005,-0,nan,285,2,-1,-1
4,01007,-0,nan,471,2,-1,-1
...,...,...,...,...,...,...,...
32963,99923,0,nan,0,0,-1,14
32964,99925,0,nan,0,0,-1,14
32965,99926,0,nan,0,0,-1,14
32966,99927,0,nan,0,0,-1,14
32967,99929,0,nan,0,0,-1,14

In [43]:
df_model['transportation'].max()

2.929806070826315

In [44]:
df_model.loc[df_model['median_sales'] <= 0, 'median_sales'] = 0 
df_model.loc[df_model['median_sales'] > 0, 'median_sales'] = 1

df_model.loc[df_model['crime_rate'] <= 0, 'crime_rate'] = 0 
df_model.loc[df_model['crime_rate'] > 0, 'crime_rate'] = 1

#top 500 is good
df_model.loc[df_model['education'] == 0, 'education'] = 0 
df_model.loc[df_model['education'] > 0, 'education'] = 1

df_model.loc[df_model['transportation'] <= 1.465, 'transportation'] = 0 
df_model.loc[df_model['transportation'] > 1.465, 'transportation'] = 1

In [45]:
df_model.isna()

       zipcode  median_sales  crime_rate  education  transportation
0        False         False       False      False           False
1        False         False       False      False           False
2        False         False       False      False           False
3        False         False       False      False           False
4        False         False       False      False           False
...        ...           ...         ...        ...             ...
32963    False         False       False      False           False
32964    False         False       False      False           False
32965    False         False       False      False           False
32966    False         False       False      False           False
32967    False         False       False      False           False

[32968 rows x 5 columns]

In [46]:
df_model.head()

  zipcode  median_sales  crime_rate  education  transportation
0   01001           0.0         0.0        1.0             1.0
1   01002           1.0         0.0        1.0             1.0
2   01003           0.0         0.0        1.0             1.0
3   01005           0.0         0.0        1.0             1.0
4   01007           0.0         0.0        1.0             1.0

In [47]:
pd.options.display.float_format = '{:,.0f}'.format

In [48]:
df_model.head()

  zipcode  median_sales  crime_rate  education  transportation
0   01001             0           0          1               1
1   01002             1           0          1               1
2   01003             0           0          1               1
3   01005             0           0          1               1
4   01007             0           0          1               1

In [49]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO 
from IPython.display import Image 
from pydot import graph_from_dot_data
import pandas as pd
import numpy as np

C:\Users\Nada\Anaconda3\lib\site-packages\sklearn\externals\six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [50]:
X = df_model.drop(columns=['zipcode', 'median_sales']).values
y = df_model['median_sales'].values

In [51]:
print(X.shape, y.shape)

(32968, 3) (32968,)

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=42)

In [53]:
print('Shape of X_train=>',X_train.shape)
print('Shape of X_test=>',X_test.shape)
print('Shape of Y_train=>',y_train.shape)
print('Shape of Y_test=>',y_test.shape)

Shape of X_train=> (26374, 3)
Shape of X_test=> (6594, 3)
Shape of Y_train=> (26374,)
Shape of Y_test=> (6594,)

In [54]:
# Building Decision Tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(criterion = 'entropy', random_state = 42)
dt.fit(X_train, y_train)
dt_pred_train = dt.predict(X_train)

In [55]:
from sklearn.metrics import f1_score

# Evaluation on Training set
dt_pred_train = dt.predict(X_train)
print('Training Set Evaluation F1-Score=>', f1_score(y_train,dt_pred_train) )

Training Set Evaluation F1-Score=> 0.9638304782008605

In [56]:
dt_pred_test = dt.predict(X_test)
print('Testing Set Evaluation F1-Score=>',f1_score(y_test,dt_pred_test))

Testing Set Evaluation F1-Score=> 0.9624096776812536

In [57]:
# Building  Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(criterion = 'entropy', random_state = 42)
rfc.fit(X_train, y_train)

# Evaluating on Training set
rfc_pred_train = rfc.predict(X_train)
print('Training Set Evaluation F1-Score=>',f1_score(y_train,rfc_pred_train))

Training Set Evaluation F1-Score=> 0.9638304782008605

C:\Users\Nada\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [58]:
# Evaluating on Test set
rfc_pred_test = rfc.predict(X_test)
print('Testing Set Evaluation F1-Score=>',f1_score(y_test,rfc_pred_test))

Testing Set Evaluation F1-Score=> 0.9624096776812536

In [59]:
model_alg_df.to_csv("Data/algorithm_predicti")
sales_price_df.to_csv("Data/cleaned_model.csv", index=False)

NameError: name 'model_alg_df' is not defined

In [ ]:
from sqlalchemy import create_engine

In [ ]:
connection_string = "postgres:apartment@homeslice.cjnrjw08kldx.us-east-2.rds.amazonaws.com:5432/HomeSliceDB"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
sales_price_df.to_sql(name='sales_price', con=engine, if_exists='replace', index=False)